<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gym.Properties.Settings.centroConnectionString" connectionString="user id=root;server=localhost;password=1234;persistsecurityinfo=True;database=centro"
            providerName="MySql.Data.MySqlClient" />
        <add name="Gym.Properties.Settings.centroConnectionString1" connectionString="allowbatch=True;password=1234;user id=root;persistsecurityinfo=True;database=centro;server=localhost"
            providerName="MySql.Data.MySqlClient" />
        <add name="Gym.Properties.Settings.Conexion" connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=centro"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.data>
    <DbProviderFactories>
      <!--Removes the dll installed in gac-->
      <remove invariant="MySql.Data.MySqlClient" />

      <!--Add the dll copied in the bin folder-->
      <add name="MySQL" description="ADO.Net driver for MySQL" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
</system.data>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>